/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #F5F5F5;
    color: #333333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    flex: 3;
    max-width: 100%;
    margin: 8px;
    background-color: none;
    color: #333333;
    overflow: hidden;
}

#schedule-panel {
    flex: 3;
    overflow-y: auto;
    margin: 7px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.schedule-heading {
    font-size: 18px;
    text-align: center;
    margin: 8px 0;
    color: #1d351d;
}

.schedule-table {
    width: 100%;
    margin-top: 4px;
    border-collapse: collapse;
}

.schedule-table th, .schedule-table td {
    padding: 6px;
    text-align: left;
    border-bottom: 1px solid #96A7C2;
}

.schedule-table th {
    background-color: #447094;
    color: #FFFFFF;
}

.schedule-table tr:nth-child(even) {
    background-color: #F0F0F0;
}

.schedule-table tr:nth-child(odd) {
    background-color: #FFFFFF;
}
#ads-column {
    flex: 1;
    overflow: hidden;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
#ads-slider-container {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* height: calc(100vh - 200px); Ajuste conforme necessário para a altura do rodapé */
    margin-bottom: 10px;
    flex-grow: 1;
}

#ads-slider {
    display: flex;
    flex-direction: column;
    transition: transform 5s ease-in-out;
    height: 100%;
}
#ad {
    height: 100%;
}
.ad {
    height: 100%;
}

#ads-slider img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#footer {
    background-color: #394B5F;
    color: #FFFFFF;
    text-align: center;
    padding: 0px;
    margin-top: 0px;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer img {
    max-width: 100%;
    height: auto;
    max-height: 80px;
    margin-bottom: 5px;
    margin-top: auto;
}

#weather-container {
    display: flex;
    align-items: center;
    margin-right: 40px;
    color: #FFFFFF;
}

.weather-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 5px;
}

.weather-icon {
    font-size: 1.2em;
    margin-right: 10px;
    color: #FFFFFF;
    align-items: center;
}

.desc {
    font-size: 18px;
    color: #FFFFFF;
}

.temp {
    font-size: 1.2em;
    color: #FFFFFF;
    margin-right: 20px;
}

.time {
    font-size: 3.4em;
    margin-left: 10px;
}

/* Adicione estilos específicos para telas menores */

/* Quando a largura da tela for menor que 768px */
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* Altera a direção do contêiner para coluna */
        align-items: center; /* Centraliza os itens horizontalmente */
    }

    #schedule-panel {
        width: 100%; /* Define a largura do painel de horários para 100% */
        margin-bottom: 20px; /* Adiciona margem inferior para separação */
    }

    .schedule-heading {
        font-size: 24px; /* Reduz o tamanho do cabeçalho */
    }

    .schedule-table {
        font-size: 14px; /* Reduz o tamanho da fonte da tabela */
    }

    #ads-column {
        width: 100%; /* Define a largura da coluna de anúncios para 100% */
    }

    #ads-slider-container {
        width: 100%; /* Define a largura do contêiner de slider para 100% */
    }

    #ads-slider {
        flex-direction: row; /* Altera a direção do slider para linha */
        overflow-x: auto; /* Adiciona rolagem horizontal ao slider */
        height: auto; /* Define a altura do slider como automática */
    }

    .ad {
        flex: auto; /* Impede que os anúncios sejam redimensionados */
        width: auto; /* Define a largura dos anúncios como automática */
        margin-right: 10px; /* Adiciona margem à direita para separação entre anúncios */
    }
}
