<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/weather-icons.min.css">
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <div class="container">
        <div id="schedule-panel">
            <h2 class="schedule-heading">HORÁRIOS E LOCAIS DAS DISCIPLINAS</h2>
            <table class="schedule-table" id="schedule-table">
                <thead>
                    <tr>
                        <th>Horário</th>
                        <th>Nome da Disciplina</th>
                        <th>Local</th>
                        <th>Responsável</th>
                    </tr>
                </thead>
                <tbody id="schedule-body">
                    {% for reserva in reservas %}
                    <tr>
                        <td>{{ reserva['Horário'] }}</td>
                        <td>{{ reserva['Título'] }}</td>
                        <td>{{ reserva['Local'] }}</td>
                        <td>{{ reserva['Responsável'] }}</td>
                    </tr>
                    {% endfor %}   
                </tbody>
            </table>
        </div>

        <!-- Nova coluna com slider de anúncios -->
        <div id="ads-column">
            <h2 class="schedule-heading">AVISOS</h2>
            <div id="ads-slider-container">
                <div id="ads-slider">
                    <!-- Substitua os URLs das imagens pelos seus próprios anúncios -->
                    <div class="ad"><img src="../static/images/ad1.jpg" alt="Anúncio 1"></div>
                    <div class="ad"><img src="../static/images/ad2.jpg" alt="Anúncio 2"></div>
                    <div class="ad"><img src="../static/images/ad3.jpg" alt="Anúncio 3"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Rodapé -->
    <div id="footer">
        <!-- Logotipo -->
        <img src="static/images/seu-logotipo.png" alt="Logotipo">

        <!-- Texto do rodapé -->
        <p>Desenvolvido pela CTIC Campus Tubarão</p>

        <!-- Previsão do Tempo e Hora Certa -->
        <div id="weather-container">
            <span class="time-weather">
                <a class="weather widget">
                    <span class="weather-info">
                        <span class="temp" id="temperature"></span>
                    </span>
                    <i class="weather-icon" id="weather-icon"></i>
                </a>
            </span>
            <span class="time" id="current-time"></span> 
        </div>
    </div>

    <script src="static/jquery-3.6.0.min.js"></script>
    <script>
        function updateSchedule() {
            $.getJSON('https://tv.tubarao.ifsc.edu.br/api/data', function(data) {
                // Limpa o conteúdo da tabela
                $('#schedule-body').empty();

                // Itera sobre os dados retornados e insere cada reserva na tabela
                $.each(data, function(index, reserva) {
                    $('#schedule-body').append(
                        '<tr>' +
                        '<td>' + reserva['Horário'] + '</td>' +
                        '<td>' + reserva['Título'] + '</td>' +
                        '<td>' + reserva['Local'] + '</td>' +
                        '<td>' + reserva['Responsável'] + '</td>' +
                        '</tr>'
                    );
                });
            });
        }

        // Atualiza o horário de reserva a cada 1 minuto
        setInterval(updateSchedule, 30000);
        // Atualiza o horário de reserva imediatamente ao carregar a página
        updateSchedule();

        // Função para obter dados de temperatura e hora do backend
        function getWeatherAndTime() {
            // Substitua a URL abaixo pela URL do seu backend que fornece os dados
            const backendURL = "https://tv.tubarao.ifsc.edu.br/api/owm";
    
            // Faça uma requisição para obter os dados do backend
            fetch(backendURL)
                .then(response => response.json())
                .then(data => {
                    // console.log("Dados recebidos do backend:", data); // Adiciona um log para verificar os dados recebidos
                    // Atualize os elementos HTML com os dados obtidos
                    document.getElementById('temperature').innerText = `${data.temperature}º`;
                    document.getElementById('weather-icon').className = `weather-icon wi ${data.forecast.icon}`;
                    document.getElementById('current-time').innerText = data.time;
                })
                .catch(error => console.error('Erro ao obter dados do backend:', error));
        }

        // Chame a função inicialmente para exibir os dados
        getWeatherAndTime();

        // Atualize os dados a cada 5 minutos (ou conforme necessário)
        setInterval(getWeatherAndTime, 30000);  // 300000 milissegundos = 5 minutos
        // Adiciona a funcionalidade de slider automático
        const slider = document.getElementById('ads-slider');
        let currentIndex = 0;

        function showNextSlide() {
            currentIndex = (currentIndex + 1) % slider.children.length;
            const translateValue = -currentIndex * 100;
            slider.style.transform = `translateY(${translateValue}%)`;
        }

        setInterval(showNextSlide, 30000); // Altera o slide a cada 30 segundos
    </script>
</body>
</html>
